@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);


body {
	margin: 0;
	font-family: 'Josefin Slab', serif;
}

.btn {
	background-color: #bada55;
}

.input-group {
	margin:auto;
}

#tagline {
	font-style: italic;
}

h1 {
	font-size: 46px;
}

#header {
	background-image: url("../image/background.jpg");
	background-size: cover;
	background-repeat: none;
	overflow: hidden;
}

#hipstertitle {
	color: white;
	padding-right: 2%;
	/*padding: 19%;
	padding-left: 17%;
	padding-bottom: 10%;*/
	text-align: center;
	padding-top: 19%;
	padding-bottom: 10%;
}

::-webkit-input-placeholder {
   color: black;
}

.buttons {
	color: black;
	background: rgba(45, 107, 107, 0.46);
	border: 3px solid white;
	border-radius: 20px;
	padding: 1%;
	padding-left: 2%;
	margin: 5%;
	font-variant: small-caps;
}

#upload-url, #upload-file {
	padding: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

#paste-url {
	margin: auto;
}

