@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);


body {
	margin: 0;
	font-family: 'Josefin Slab', serif;
}

.input-group {
	margin:auto;
}

#tagline {
	font-style: italic;
}

h1 {
	font-size: 46px;
}

#header {
	background-image: url("../image/background-sm.jpg");
	background-size: cover;
	background-repeat: none;
	overflow: hidden;
}

#hipstertitle {
	/*color: rgba(89, 165, 165, 1);*/
	color: rgba(114, 140, 140, 1);
	text-shadow: 0px 0px 3px #000;
	padding-right: 2%;
	/*padding: 19%;
	padding-left: 17%;
	padding-bottom: 10%;*/
	text-align: center;
	padding-top: 19%;
	padding-bottom: 10%;
}

::-webkit-input-placeholder {
   color: black;
}

.buttons {
	color: black;
	/*background: rgba(45, 107, 107, 0.46);*/
	background: rgba(114, 140, 140, 1);
	border: 3px solid white;
	border-radius: 20px;
	padding: 2%;
	margin: 5%;
	font-variant: small-caps;
}

.buttons:focus {
  outline: none;
}

#upload-url, #upload-file {
	width: 80%;
	text-align: center;
}

#paste-url {
	margin: auto;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	#header {
		background-image: url("../image/background.jpg");
	}

	#hipstertitle {
		color: white;
	}

	.buttons {
		background: rgba(114, 140, 140, 0.55);
	}
}

