@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);


body {
	margin: 0;
	font-family: 'Josefin Slab', serif;

}

.input-group {
	margin:auto;
}

#tagline {
	font-style: italic;
}

h1 {
	font-size: 46px;
}

.rect {
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

.other {
	width: 80%;
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
}

.featurette {
	margin: 5%;
}

#header {
	background-image: url("../image/background-sm.jpg");
	background-size: cover;
	background-repeat: none;
	overflow: hidden;
}

#socialbutton {
	text-align: center;
}

#hipstertitle {
	/*color: rgba(89, 165, 165, 1);*/
	color: rgba(114, 140, 140, 1);
	text-shadow: 0px 0px 3px #000;
	padding-right: 2%;
	/*padding: 19%;
	padding-left: 17%;
	padding-bottom: 10%;*/
	text-align: center;
	padding-top: 19%;
	padding-bottom: 10%;
}

::-webkit-input-placeholder {
   color: black;
}

.buttons {
	color: black;
	/*background: rgba(45, 107, 107, 0.46);*/
	background: rgba(114, 140, 140, 1);
	border: 3px solid white;
	border-radius: 20px;
	padding: 2%;
	margin: 5%;
	font-variant: small-caps;
}

.other {
	width: 70%;
}

.buttons:focus {
  outline: none;
}

.buttons:hover, .buttons:active {
	background: rgba(114, 140, 140, 1);
	border: 3px solid white;
}

#upload-url, #upload-file {
	width: 80%;
	text-align: center;
}

#paste-url {
	margin: auto;
	width: 100%;
}

footer {
	background-color: #69BFBF;
	text-align: center;
}

#logo {
	max-height: 100px;
}

@media screen and (min-width: 768px) {
	.rect {
		width: 200px;
		height: 200px;
		border-radius: 150px;
	}
}

@media screen and (min-width: 1200px) {
	#header {
		background-image: url("../image/background.jpg");
	}

	#hipstertitle {
		color: white;
	}

	.buttons {
		background: rgba(114, 140, 140, 0.55);
	}

	.buttons:hover {
		background: rgba(114, 140, 140, 0.55);
		border: 3px solid white;
	}
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
	background-color:#FFFFFF;
	border:1px solid #999999;
	border-radius: 15px;
	cursor:default;
	display:none;
	position: absolute;
	margin-top: 15px;
	margin-left: 25%;
	text-align:left;
	width:50%;
	z-index:50;
	padding: 25px 25px 20px;
}

#close-popup {
	position: absolute;
	margin-left: 90%;

}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  margin: 8px 0;
  padding-bottom: 8px;
}

